h1 {
  text-align: center;
}


.criminalsContainer {
    border: 1px solid black;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
 }

.criminal--Inner {
  border:1px solid black;
  flex-basis: 30%;
  margin:15px;
  color: rgb(255, 255, 255);
  
}
body{
  background-image:url(https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555385796/shape/mentalfloss/copshed.png);
  background-size: contain;
  background-image: no-repeat;
  justify-content: center;
  
}

header{

    background-color: rgb(125, 201, 242);  
  
}


